
/* Шрифты */

@font-face {
    font-family: "Montserrat-Regular";
    src: url("/fonts/Montserrat/static/Montserrat-Regular.ttf")
}

@font-face {
    font-family: "Montserrat-SemiBold";
    src: url("/fonts/Montserrat/static/Montserrat-SemiBold.ttf");
}

/* Стили тегов */

body {
    margin: 0 auto;
    height: auto;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 auto;
    font-family: "Montserrat-SemiBold", sans-serif;
    color: #FFFDED;
}

p, a {
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 25px;
    color: #FFFDED;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

/* Nav */

.nav {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: auto;
    background-color: #5A2A27;
    border-radius: 120px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 20px;
}

.left-nav {
    display: flex;
    align-items: center;
}

.right-nav {
    display: flex;
    align-items: center;  
}

.logo {
    height: 110px;
    padding-left: 20px;
}

.heading {
    color:#FFFDED;
    font-size: 30px;
    margin: 0;
}

.login {
    margin: 0 50px;
    background-color:#FFFDED;
    padding: 20px 50px;
    color:#5A2A27;
    border-radius: 120px;
}

.ads {
    color:#FFFDED;
}

/* Wrapper */
.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Main */

.main {
    width: 100%;
    height: 100%;
    background: #FFFDED;
    padding-top: 200px;
    padding-bottom: 100px;
}

.main-title {
    font-family: 'Montserrat' sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    margin-left: 8%;
    margin-bottom: 50px;

    color: #5A2A27;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
}

/* Info-card */

.info-card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 70px;
}

.info-card {
    background-color: #8D5B4C;
    margin: 20px 0;
    width: 40%;
    padding: 30px 40px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.info-card-title {
    margin:0;
}

/* Avatar */

 .container-circle {
    margin-left: 700px;
    margin-top: -900px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 400px;
}

.circle {
    width: 500px;
    height: 500px;
    background-color: #D9D9D9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-text {
    font-family: 'Montserrat' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    
    color: #000000;
}

/* Small-rect */

.container-rect{ 
    display: flex;
    margin-top: 20px;
}

.rect {
    width: 300px;
    height: 80px;
    background-color: #8D5B4C;
    border-radius: 40px;;
    display: flex; 
    justify-content: center;
    align-items: center; 
    margin-right: 100px; 
}

/* Footer */

.footer {
    background-color: #5A2A27;
    padding: 30px 0;
}

.footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-title {
    margin: 0;
    margin-left: 5%;
    font-size: 45px;
}

.footer-logo {
    height: 110px;
    margin-right: 5%;
}

/* Для placeholder */

::placeholder {
    color: #5A2A27;
    font-family: 'Montserrat' sans-serif;
    font-weight: 600;
 }

.login-form-input-button {
    align-self: center;
    margin-bottom: 50px;
    background-color: #5A2A27;
    color: #FFFDED;
    border: none;
    padding: 20px 30px;
    width: 20%;
}

.go-to-register {
    color: #5A2A27;
    font-size: 30px;
}

.go-register {
    text-decoration: underline;
}

/* Register */

.register-wrapper {
    background-color: #5A2A277F;
    min-height: 175%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    font-weight: 600;
}

.register {
    display: flex;
    margin-top: 200px;
    background-color: #FFFDED;
    width: 85%;
    border-radius: 45px;
    flex-direction: column;
    padding-top: 40px;
    height: fit-content;
}

.register-title-wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.register-title {
    color: #5A2A27;
    font-size: 45px;
    align-self: center;
    padding-left: 80px;
}

.register-exit {
    padding-right: 50px;
    cursor: pointer;
}

.register-form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
}

.register-form {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.register-form-input {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px 0px 20px 25px;
    margin-left: 50px;
    width: 80%;
    border-radius: 15px;
    border: 3px solid #5A2A27;
    background-color: #FFFDED;
    font-size: 25px;
    color: #5A2A27;
    font-weight: 600;
    appearance: none;
}

.register-form-input-button {
    align-self: center;
    margin-bottom: 50px;
    margin-left: 10px;
    background-color: #5A2A27;
    color: #FFFDED;
    border: none;
    padding: 20px 30px;
    width: 60%;
}

.change-city {
    width: 85%;
}

.go-to-login {
    color: #5A2A27;
    font-size: 30px;
    text-decoration: underline;
}

.login-title {
    color: #5A2A27;
    font-size: 45px;
    align-self: center;
    padding-left: 80px;
}