/* Шрифты */

@font-face {
    font-family: "Montserrat-Regular";
    src: url("/fonts/Montserrat/static/Montserrat-Regular.ttf")
}

@font-face {
    font-family: "Montserrat-SemiBold";
    src: url("/fonts/Montserrat/static/Montserrat-SemiBold.ttf");
}

/* Стили тегов */

body {
    margin: 0 auto;
    width: 100%;
}

h1, h2, h3, h4, h5, h6, input {
    margin: 0 auto;
    font-family: "Montserrat-SemiBold", sans-serif;
    color: #FFFDED;
}

p, a{
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 25px;
    color: #FFFDED;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

.hide {
    display: none;
    visibility: hidden;
}

/* Nav */

.nav {
    position: fixed;
    left: 0;
    top: -250px;
    right: 0;
    bottom: auto;
    background-color: #FFFDED;
    border-radius: 120px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 20px;
    animation: pop-up-nav 1.5s ease-in 0s 1 normal forwards;
} 

@keyframes pop-up-nav {
    from {
        top: -250px;
    }
    to {
        top: 0;
    }
}

.left-nav {
    display: flex;
    align-items: center;
}

.right-nav {
    display: flex;
    align-items: center;  
}

.logo {
    height: 110px;
    padding-left: 20px;
}

.heading {
    color: #5A2A27;
    font-size: 30px;
    margin: 0;
}

.nav-login-button {
    margin: 0 50px;
    background-color: #5A2A27;
    padding: 20px 50px;
    color: #FFFDED;
    border-radius: 120px;
}

.ads {
    color: #5A2A27;
}

/* Header */

.header {
    background-image: url("../img/header-book.jpeg");
    background-size: cover;
    justify-content: center;
    padding-bottom: 120px;
}

.header-wrapper {
    padding-top: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 200px;
}

.header-title {
    color: #FFFDED;
    margin-bottom: 30px;
    font-size: 60px;
}

.header-text {
    color: #FFFDED;
    text-align: center;
    font-size: 40px;
}

.button-more {
    padding: 30px;
    border: 3px solid #FFFDED;
    border-radius: 90px;
}

/* Main */

/* Article (about) */

.about {
    background-color: #8D5B4C;
    padding: 75px;
}

.about-wrapper {
    background-color: #5C4742;
    border-radius: 90px;
    display: flex;
}

.about-image {
    overflow: hidden;
    border-radius: 90px;
    height: 650px;
    object-fit: cover;
    width: 100%;
    height: inherit;
}

.about-text-wrapper {
    display: flex;
    flex-direction: column;
    padding: 60px 100px 80px 60px ;
}

.about-title {
    font-size: 45px;
    margin-left: 0;
}

.about-text {
    font-size: 27px;
}

/* Aside */

.aside {
    background-color: #FFFDED;
    padding-top: 75px;
    padding-bottom: 50px;
}

.aside-wrapper {
    display: flex;
    flex-direction: column;
}

.aside-image-wrapper {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.aside-image {
    height: 400px;
    width: 50%;
    border-radius: 90px;
    margin: 0 100px 50px 0;
    overflow: hidden;
}

#aside-image-1 {
    margin-left: -22%;
}

#aside-image-3 {
    margin-right: -6%;
}

#aside-image-4 {
    margin-left: -6%;
}

#aside-image-6 {
    margin-right: -20%;
}

/* Article (join) */

.join {
    background-color: #5A2A27;
    padding-top: 100px;
    padding-bottom: 120px;
    text-align: center;
}

.join-title {
    font-size: 60px;
    margin-bottom: 50px;
    font-size: 60px;
}

.join-text {
    font-size: 40px;
    margin-bottom: 80px;
    font-family: "Montserrat-Regular", sans-serif;
}

.join-button {
    background-color: #8D5B4C;
    padding: 20px 50px;
    border-radius: 90px;
    font-size: 30px;
}

/* Article (FAQ) */

.faq {
    background-color: #FFFDED;
    padding: 100px 0;
}

.faq-question-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq-title {
    color: #5A2A27;
    font-size: 60px;
    text-align: center;
    margin-bottom: 50px;
}

.faq-question {
    background-color: #5C4742;
    display: flex;
    flex-direction: column;
    width: 80%;
    border-radius: 40px;
    padding: 10px 50px;
    margin: 15px 0;
}

.faq-question:hover {
    cursor: pointer;
}

.faq-question-title-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.faq-question-title {
    font-size: 50px;
}

/* Animations for question */

.open-window {
    animation: 1s open-window;
}

.close-window {
    animation: 1s close-window ;
}

@keyframes open-window {
    from {
        margin-top: -75px;
        opacity: 0;
    }
    to {
        opacity: 100;
        margin-top: 25px;
    }
}

@keyframes close-window {
    from {
        opacity: 100;
        margin-top: 25px;
    }
    to {
        margin-top: -75px;
        opacity: 0;
    }
}

/* Footer */

.footer {
    background-color: #5A2A27;
    padding: 30px 0;
}

.footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-title {
    margin: 0;
    margin-left: 5%;
    font-size: 45px;
}

.footer-logo {
    height: 110px;
    margin-right: 5%;
}

/* Login */

.login-wrapper {
    background-color: #5A2A277F;
    min-height: 540%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
}

.login {
    display: flex;
    margin-top: 200px;
    background-color: #FFFDED;
    width: 85%;
    border-radius: 45px;
    flex-direction: column;
    padding-top: 40px;
    height: fit-content;
}

.login-title-wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.login-title {
    color: #5A2A27;
    font-size: 45px;
    align-self: center;
    padding-left: 80px;
}

.login-exit {
    padding-right: 50px;
    cursor: pointer;
}

.login-form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.login-form-input {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px 0px 20px 25px;
    width: 80%;
    border-radius: 15px;
    border: 3px solid #5A2A27;
    background-color: #FFFDED;
    font-size: 25px;
    color: #5A2A27;
}

/* Для placeholder */

::placeholder {
    color: #5A2A27;
 }

.login-form-input-button {
    align-self: center;
    margin-bottom: 50px;
    background-color: #5A2A27;
    color: #FFFDED;
    border: none;
    padding: 20px 30px;
    width: 20%;
}

.go-to-register {
    color: #5A2A27;
    font-size: 30px;
}

.go-register {
    text-decoration: underline;
}

/* Register */

.register-wrapper {
    background-color: #5A2A277F;
    min-height: 540%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
}

.register {
    display: flex;
    margin-top: 200px;
    background-color: #FFFDED;
    width: 85%;
    border-radius: 45px;
    flex-direction: column;
    padding-top: 40px;
    height: fit-content;
}

.register-title-wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.register-title {
    color: #5A2A27;
    font-size: 45px;
    align-self: center;
    padding-left: 80px;
}

.register-exit {
    padding-right: 50px;
    cursor: pointer;
}

.register-form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
}

.register-form {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.register-form-input {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px 0px 20px 25px;
    width: 80%;
    border-radius: 15px;
    border: 3px solid #5A2A27;
    background-color: #FFFDED;
    font-size: 25px;
    color: #5A2A27;
}

.register-form-input-button {
    align-self: center;
    margin-bottom: 50px;
    background-color: #5A2A27;
    color: #FFFDED;
    border: none;
    padding: 20px 30px;
    width: 20%;
}

.change-city {
    width: 85%;
}

.go-to-login {
    color: #5A2A27;
    font-size: 30px;
    text-decoration: underline;
}