@font-face {
  font-family: "Montserrat-Regular";
  src: url("fonts/Montserrat/static/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("fonts/Montserrat/static/Montserrat-SemiBold.ttf") format("truetype");
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  width: 100%;
}

h1, h2, h3, h4, h5, h6, input {
  margin: 0 auto;
  font-family: "Montserrat-SemiBold", sans-serif;
  color: #FFFDED;
}

p, a {
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 25px;
  color: #FFFDED;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.hide {
  display: none;
  visibility: hidden;
}

.background {
  display: flex;
  background-image: url("img/header-book.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 10%;
}